# Ignore Everything
*

# But not .c .cpp
!*.cpp
!*.c
!*.ipynb
!.gitignore
!README.md

# Or directories
!*/

# Ignore following files
*.ipynb_checkpoints
# Ignore follow directories
*/exams
*/practice_problems